version: 2.1

orbs:
  docker: circleci/docker@1.0.1

aliases:
  - &node-docker-image circleci/node:12.13.1
  - &mongo-docker-image circleci/mongo:4.2.2-ram
  - &working-directory ~/repo
  - &deps-cache-key deps-v1-{{ checksum "yarn.lock" }}
  - &deps-cache-restore-keys
    - deps-v1-{{ checksum "yarn.lock" }}
    - deps-v1-

executors:
  node_executor:
    working_directory: *working-directory
    docker:
      - image: *node-docker-image

  app_executor:
    working_directory: *working-directory
    docker:
      - image: *node-docker-image
      - image: *mongo-docker-image

commands:
  checkout_and_cache:
    description: Checkout code and restore cache
    steps:
      - checkout
      - restore_cache:
          keys: *deps-cache-restore-keys

jobs:
  bootstrap:
    description: Install node modules
    executor: node_executor
    steps:
      - checkout_and_cache
      - run: yarn install --frozen-lockfile
      - save_cache:
          key: *deps-cache-key
          paths:
            - node_modules
            - packages/client/node_modules
            - packages/eslint-config/node_modules
            - packages/scraper/node_modules
            - packages/server/node_modules
            - packages/shared/node_modules
            - ~/.cache/Cypress

  lint:
    description: Lint code & markdown
    executor: node_executor
    steps:
      - checkout_and_cache
      - run: yarn lint

  commitlint:
    description: Lint commit messages according to Conventional Commits
    executor: node_executor
    steps:
      - checkout
      - run:
          name: Install
          command: |
            sudo npm install -g @commitlint/{config-conventional,cli}
            echo "module.exports = {extends: ['@commitlint/config-conventional']}" > commitlint.config.js
      - run:
          name: commitlint
          command: |
            FROM_SHA="$(git log origin/master..$CIRCLE_SHA1 --oneline | tail -1 | awk '{print $1}')"
            commitlint --from $FROM_SHA --to $CIRCLE_SHA1

  prettier_check:
    description: Check if code follows Prettier specs
    executor: node_executor
    steps:
      - checkout_and_cache
      - run: yarn prettier:check

  build_app:
    description: Create GraphQL types and transpile TS to JS
    executor: node_executor
    steps:
      - checkout_and_cache
      - run: yarn build
      - persist_to_workspace:
          root: .
          paths:
            - packages/**/build/

  test_backend:
    description: Run backend tests
    executor: node_executor
    steps:
      - checkout_and_cache
      - run: yarn test:backend

  test_e2e:
    description: Run e2e tests
    executor: app_executor
    steps:
      - checkout_and_cache
      - attach_workspace:
          at: .
      - run:
          name: Install Cypress dependencies
          command: sudo apt-get install -y libgtk2.0-0 libnotify-dev libgconf-2-4 libnss3 libxss1 libasound2 xvfb
      - run:
          name: Turn on app
          command: yarn start
          background: true
          environment:
            NODE_ENV: production
            PORT: '3000'
            SLIM: 'true'
            TERM: 'xterm'
      - run:
          name: Wait for app to be ready
          command: ./scripts/wait-for-it.sh 3000
      - run: yarn test:e2e:ci

workflows:
  version: 2
  commit:
    jobs:
      - bootstrap
      - commitlint:
          requires:
            - bootstrap
      - lint:
          requires:
            - bootstrap
      - prettier_check:
          requires:
            - bootstrap
      - build_app:
          requires:
            - commitlint
            - lint
            - prettier_check
      - test_backend:
          requires:
            - build_app
      - test_e2e:
          requires:
            - build_app
      - docker/publish:
          requires:
            - test_backend
            - test_e2e
          filters:
            branches:
              only: master
          image: $DOCKER_LOGIN/$CIRCLE_PROJECT_REPONAME
          tag: latest
          use-docker-credentials-store: true
